body {
    background-color: rgb(248,248,248);
}

.navbar > .container {
    padding-left: 25px;
}

.filter-form {
    display: flex;
    margin-bottom: 1rem;
    margin-left: 10px;
    margin-right: 10px;

    .search {
        flex: 1;
        margin-left: 1em;
    }

    select {
        flex: 1;
        margin-left: 1em;
    }

    &__date-picker {
        flex: 1;
        height: 38px;
        margin-left: 1em;
    }
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(310px, 1fr));
    color: rgb(30,30,30);
    padding-bottom: 30px;

    &::after {
        content: '';
        flex-grow: 1000000000;
    }

    &__item {
        display: flex;
        flex-direction: column;
        padding: 1em 1em 1em 1em;
        border: 1px solid rgb(220,220,220);
        border-radius: 5px;
        margin: 10px;
        position: relative;
        background-color: white;

        &__labels-container {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            position: relative;
            right: -7px;
            margin-bottom: 8px;

            .label {
                display: block;
                padding: 4px 8px;
                margin: 0px 4px;
                color: white;
                border-radius: 4px;
            }
        }

        &__header {
            font-size: 20px;
            text-align: left;
            margin-top: 8px;
        }

        &__subheader {
            font-size: 16px;
            margin-bottom: 18px;
            text-align: left;
        }

        &__stats-container {
            display: flex;
            flex-direction: row;
            margin-bottom: 16px;

            .stat {
                flex: 1;
            }
        }

        &__text-block {
            text-align: left;
            font-size: 1em;
            font-style: italic;
        }

        &__contact-container {
            display:flex;
            flex-direction: row;
            flex-wrap: wrap;

            .stat {
                margin-right: 1em;
                margin-bottom: .75em;

                &__figure {
                    word-break: break-all;
                }
            }

            .stat:first-child {
                min-width: 80px;
            }

            .stat:last-child {
                margin-right: 1.5em;
            }

            &__actions-container {
                display: flex;
                flex-direction: row;
                float: left;
                margin-top: 5px;
                margin-bottom: 1em;

                .btn {
                    margin-right: 10px;
                }
            }
        }
    }
}

.grow {
    flex-grow: 1;
}

.stat {
    display: flex;
    flex-direction: column;
    text-align: left;

    &__label {
        margin-bottom: 0px;
        font-size: 0.9em;
        font-weight: 500;
    }
}

.btn {
    border: 1px solid rgba(220,220,220,0.1);
    border-radius: 6px;

    &--line {
        color: #00c300;
        border: 1px solid #00c300;
        background-color: white;

        &:hover {
            background-color: #00c300;
            color: white;
        }
    }

    &--phone {
        color: #2962ff;
        border: 1px solid #2962ff;
        background-color: white;

        &:hover{
            background-color: #2962ff;
            color: white;
        }
    }

    &--map {
        color: #009624;
        border: 1px solid #009624;
        background-color: white;

        &:hover{
            background-color: #009624;
            color: white;
        }
    }

    &--primary {
        color: #2962ff;
        border: 1px solid #2962ff;
        background-color: white;

        &:hover{
            background-color: #2962ff;
            color: white;
        }
    }
}

.label {

    &--neutral {
        background-color: #00c853;
    }

    &--prominent {
        background-color: #ff6d00;
    }

    &--muted {
        background-color: #f7cf00;
    }

    &--chill {
        background-color: #6200ea;
    }

    &--warm {
        background-color: #0091ea;
    }

    &--distance {
        background-color: #d50000;
    }

}

.footer {
    text-align: center;
    margin-bottom: 2em;

    a {
        color: #2962ff;
    }
}

.btn-group-toggle {
    margin-left: 1em;
}

@media only screen and (max-width: 767px) {

    .navbar > .container {
        padding-left: 5px;
    }


    .filter-form{
        flex-direction: column;
        margin: 6px 7.5px;

        .btn {
            margin-bottom: 10px;
        }

        .search {
            margin-bottom: 10px;
            margin-left: 0px;
        }

        select {
            flex: 1;
            margin-left: 0px;
            margin-bottom: 10px;
        }

        .react-datepicker__input-container {
            flex: 1;
            height: 38px;
            margin-left: 0px;
            margin-bottom: 10px;

            input {
                width: 100%;
                margin-left: 0px;
                padding-left: 10px;
            }
        }
    }

    .navbar {
        padding: .5rem .5rem .5rem .5rem;
    }

    .navbar-brand {
        white-space: normal !important;
        max-width: 70%;
        font-size: 100%;
        text-align: left;
    }

    .container {
        padding-left: 5px;
        padding-right: 5px;
    }

    .react-datepicker-wrapper {
        border: 0.5px solid rgb(220,220,220);
        border-radius: 6px;
    }

    .react-datepicker__input-container {
        width: 100%;
        border: 0.5px solid rgb(220,220,220);
    }

    .btn-group-toggle {
        margin-left: 0;

        .toggle {
            width: 50%;
        }

        .toggle.active {
            z-index: 0;
        }
    }
}

.map__root {
  min-height: 80vh;
}
