body {
  background-color: #f8f8f8;
}

.navbar > .container {
  padding-left: 25px;
}

.filter-form {
  display: flex;
  margin-bottom: 1rem;
  margin-left: 10px;
  margin-right: 10px;
}
.filter-form .search {
  flex: 1;
  margin-left: 1em;
}
.filter-form select {
  flex: 1;
  margin-left: 1em;
}
.filter-form__date-picker {
  flex: 1;
  height: 38px;
  margin-left: 1em;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
  color: #1e1e1e;
  padding-bottom: 30px;
}
.gallery::after {
  content: "";
  flex-grow: 1000000000;
}
.gallery__item {
  display: flex;
  flex-direction: column;
  padding: 1em 1em 1em 1em;
  border: 1px solid gainsboro;
  border-radius: 5px;
  margin: 10px;
  position: relative;
  background-color: white;
  transition: box-shadow 0.3s cubic-bezier(0, 0, 0.2, 1), transform 0.3s cubic-bezier(0, 0, 0.2, 1);
}
.gallery__item:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.05);
  transform: scale(1.03);
  z-index: 99;
}
.gallery__item__labels-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  right: -7px;
  margin-bottom: 8px;
}
.gallery__item__labels-container .label {
  display: block;
  padding: 4px 8px;
  margin: 0px 4px;
  color: white;
}
.gallery__item__header {
  font-size: 20px;
  text-align: left;
  margin-top: 8px;
}
.gallery__item__subheader {
  font-size: 16px;
  margin-bottom: 18px;
  text-align: left;
}
.gallery__item__stats-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
}
.gallery__item__stats-container .stat {
  flex: 1;
}
.gallery__item__text-block {
  text-align: left;
  font-size: 1em;
  font-style: italic;
}
.gallery__item__contact-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.gallery__item__contact-container .stat {
  margin-right: 1em;
  margin-bottom: 0.75em;
}
.gallery__item__contact-container .stat__figure {
  word-break: break-all;
}
.gallery__item__contact-container .stat:first-child {
  min-width: 80px;
}
.gallery__item__contact-container .stat:last-child {
  margin-right: 1.5em;
}
.gallery__item__contact-container__actions-container {
  display: flex;
  flex-direction: row;
  float: left;
  margin-top: 5px;
  margin-bottom: 1em;
}
.gallery__item__contact-container__actions-container .btn {
  margin-right: 10px;
}

.grow {
  flex-grow: 1;
}

.stat {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.stat__label {
  margin-bottom: 0px;
  font-size: 0.9em;
  font-weight: 500;
}

.btn {
  border: 1px solid rgba(220, 220, 220, 0.1);
  border-radius: 6px;
}
.btn--line {
  color: #00c300;
  border: 1px solid #00c300;
  background-color: white;
}
.btn--line:hover {
  background-color: #00c300;
  color: white;
}
.btn--phone {
  color: #2962ff;
  border: 1px solid #2962ff;
  background-color: white;
}
.btn--phone:hover {
  background-color: #2962ff;
  color: white;
}
.btn--map {
  color: #009624;
  border: 1px solid #009624;
  background-color: white;
}
.btn--map:hover {
  background-color: #009624;
  color: white;
}
.btn--primary {
  color: #2962ff;
  border: 1px solid #2962ff;
  background-color: white;
}
.btn--primary:hover {
  background-color: #2962ff;
  color: white;
}

.label--neutral {
  background-color: #00c853;
}
.label--prominent {
  background-color: #ff6d00;
}
.label--muted {
  background-color: #304ffe;
}
.label--chill {
  background-color: #6200ea;
}
.label--warm {
  background-color: #ffd600;
}
.label--distance {
  background-color: #d50000;
}

@media only screen and (max-width: 767px) {
  .navbar > .container {
    padding-left: 5px;
  }

  .filter-form {
    flex-direction: column;
    margin: 6px 7.5px;
  }
  .filter-form .btn {
    margin-bottom: 10px;
  }
  .filter-form .search {
    margin-bottom: 10px;
    margin-left: 0px;
  }
  .filter-form select {
    flex: 1;
    margin-left: 0px;
    margin-bottom: 10px;
  }
  .filter-form .react-datepicker__input-container {
    flex: 1;
    height: 38px;
    margin-left: 0px;
    margin-bottom: 10px;
  }
  .filter-form .react-datepicker__input-container input {
    width: 100%;
    margin-left: 0px;
    padding-left: 10px;
  }

  .navbar {
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  }

  .navbar-brand {
    white-space: normal !important;
    max-width: 70%;
    font-size: 100%;
    text-align: left;
  }

  .container {
    padding-left: 5px;
    padding-right: 5px;
  }

  .react-datepicker-wrapper {
    border: 0.5px solid gainsboro;
    border-radius: 6px;
  }

  .react-datepicker__input-container {
    width: 100%;
    border: 0.5px solid gainsboro;
  }
}

/*# sourceMappingURL=index.css.map */
