@import "./g0vbar";

body {
    background-color: rgb(248,248,248);
}

.filter-form {
    display: flex;
    margin-bottom: 1rem;
    
    input {
        flex: 5;
    }

    select {
        flex: 1;
        margin-left: 1em;
    }

    &__date-picker {
        flex: 5;
        height: 38px;
        margin-left: 1em;
    }    
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(310px, 1fr));
    color: rgb(30,30,30);
    padding-bottom: 30px;

    &::after {
        content: '';
        flex-grow: 1000000000;            
    }

    &__item {
        display: block;
        padding: 1em 1em 80px 1em;
        border: 1px solid rgb(220,220,220);
        border-radius: 5px;
        margin: 10px;
        position: relative;
        background-color: white;

        &__labels-container {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            position: relative;
            right: -7px;
            margin-bottom: 4px;

            .label {
                display: block;
                padding: 4px 6px;
                margin: 0px 4px;
                color: white;
            }
        }

        &__header {
            font-size: 20px;
            text-align: left;
            margin-top: 14px;
        }

        &__subheader {
            font-size: 16px;
            margin-bottom: 18px;
            text-align: left;
        }

        &__stats-container {
            display: flex;
            flex-direction: row;
            margin-top: 1em;
            margin-bottom: 16px;

            .stat {
                flex: 1;    
            }
        }

        &__text-block {
            text-align: left;
            font-size: 1em;
            font-style: italic;
        }

        &__contact-container {
            position: absolute;
            bottom: 20px;

            .stat {
                float: left;
            }

            &__actions-container {
                display: flex;
                flex-direction: row;
                float: left;
                margin-top: 5px;
                margin-left: 20px;

                .btn {
                    margin-right: 10px;
                }
            }
        }
    }
}

.stat {
    display: flex;
    flex-direction: column;
    text-align: left;

    &__label {
        margin-bottom: 0px;
        font-size: 0.9em;
        font-weight: 500;
    }
}

.btn {
    border: 1px solid rgba(220,220,220,0.1);
    border-radius: 6px;

    &--line {
        color: #00c300;
        border: 1px solid #00c300;
        background-color: white;

        &:hover {
            background-color: #00c300;
            color: white;
        }
    }

    &--phone {
        color: #2962ff;
        border: 1px solid #2962ff;
        background-color: white;

        &:hover{
            background-color: #2962ff;
            color: white;
        }
    }
}

.label {

    &--neutral {
        background-color: #00bfa5;
    }

    &--prominent {
        background-color: #6200ea;
    }

    &--muted {
        background-color: #34515e;
    }

    &--chill {
        background-color: #0064b7;
    }

    &--warm {
        background-color: #ff6d00;
    }
}

@media only screen and (max-width: 767px) {

    .filter-form{
        flex-direction: column;
        margin: 6px 7.5px;

        .search {
            margin-bottom: 10px;
        }

        input {
            flex: 1;
            width: 100%;
        }
    
        select {
            flex: 1;
            margin-left: 0px;
            margin-bottom: 10px;
        }
    
        &__date-picker {
            flex: 1;
            height: 38px;
            margin-left: 0px;
        }   
    }

    .navbar {
        padding: .5rem .5rem .5rem .5rem;
    }

    .navbar-brand {
        white-space: normal !important;
        max-width: 70%;
        font-size: 100%;
        text-align: left;
    }
 
    .container {
        padding-left: 5px;
        padding-right: 5px;
    }

    .react-datepicker-wrapper {
        border: 0.5px solid rgb(220,220,220);
        border-radius: 6px;
    }

    .react-datepicker__input-container {
        width: 100%;
        border: 0.5px solid rgb(220,220,220);
    }
}